.BODY {
  font-size: 0.5rem;

}

.title {
  text-align: center;
}

#footer a:link {
  color: black;
}

#footer a:visited {
  color: black;
}

#footer a:hover {
  color: #000;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  background: white;
  //background: black;
  color: black;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  /*optional background or border*/
  margin-top: 4%;
  margin-top: 13vh;
  //width: 650px;
  width: 750px;
  height: 450px;
  background: none;

  /* center verticlly the box */
  top:50%;
  margin-top: -225px;
}

.swiper-slide-active .income {
  position: absolute;
  left: -10%;
  text-align: right;
  line-height: 1.7rem;
}

.swiper-slide-active .extra_cost {
  white-space: nowrap;
  padding-left: 10px;
  text-align: left;
}
.swiper-slide-active .extra_cost span.odometer {
  font-size: 1rem !important;
  line-height: 1.1rem !important;
  margin-top: 0px !important;
}
.swiper-slide-active .inner_graph {
  position: relative;
  float: left;
  height: 100%;
}

/* add .swiper-slide-active to add trigger */
.swiper-slide-active .graph_5{
  position: absolute;
  top: 0%;
  height: 6%;
  left: 0%;
  width: 15%;
  animation: graph_5 15s 1;
}
.swiper-slide-active .graph_5a {
  background: #fda478;
  width: 27%;
  animation: graph_5a 15s 1;
}
.swiper-slide-active .graph_5b {
  background: #f67d68;
  width: 24%;
  animation: graph_5b 15s 1;
}
.swiper-slide-active .graph_5c{
  background: #e5595c;
  width: 49%;
  animation: graph_5c 15s 1;
}
@keyframes graph_5  { 0% {width: 0%;} 5%,60%{width:9%} 70%,100% {width:15%;}}
/*@keyframes graph_5a { 0% {width: 0%;} 30%,100% { width:27%;}}*/
@keyframes graph_5b { 0% {width: 0%;} 30% {width: 0%;} 40%,100% { width:24%;}}
@keyframes graph_5c { 0% {width: 0%;} 60% {width: 0%;} 70%,100% { width:49%;}}
/*******************/
.swiper-slide-active .income.legend15 {
  top: 7%;
}

.swiper-slide-active  .graph_15 {
  position: absolute;
  top: 7%;
  height: 6%;
  left: 0%;
  width: 20%;
  animation: graph_15 10s 1;
}
.swiper-slide-active  .graph_15a {
  background: #fda478;
  width: 26%;
}
.swiper-slide-active  .graph_15b {
  background: #f67d68;
  width: 25%;
  animation: graph_15b 15s 1;
}
.swiper-slide-active  .graph_15c {
  background: #e5595c;
  width: 49%;
  animation: graph_15c 15s 1;
}

@keyframes graph_15 { 0% {width: 0%;} 5%,60%{width:15%} 70%,100% {width:20%;}}
@keyframes graph_15b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 25%;
  }
}
@keyframes graph_15c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 49%;
  }
}
/*******************/
.swiper-slide-active .income.legend25 {
  top: 14%;
}

.swiper-slide-active .graph_25 {
  position: absolute;
  top: 14%;
  height: 6%;
  left: 0%;
  width: 26%;
  animation: graph_25 30s 1;
}
.swiper-slide-active .graph_25a {
  background: #fda478;
  width: 27%;
}
.swiper-slide-active .graph_25b {
  background: #f67d68;
  width: 24%;
  animation: graph_25b 15s 1;
}
.swiper-slide-active .graph_25c {
  background: #e5595c;
  width: 49%;
  animation: graph_25c 15s 1;
}

@keyframes graph_25 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 26%;
  }
}
@keyframes graph_25b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 24%;
  }
}
@keyframes graph_25c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 49%;
  }
}
/*******************/
.swiper-slide-active .income.legend35 {
  top: 21%;
}

.swiper-slide-active .graph_35 {
  position: absolute;
  top: 21%;
  height: 6%;
  left: 0%;
  width: 28%;
  animation: graph_35 30s 1;
}
.swiper-slide-active .graph_35a {
  background: #fda478;
  width: 27%;
}
.swiper-slide-active .graph_35b {
  background: #f67d68;
  width: 25%;
  animation: graph_35b 15s 1;
}
.swiper-slide-active .graph_35c {
  background: #e5595c;
  width: 48%;
  animation: graph_35c 15s 1;
}

@keyframes graph_35 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 28%;
  }
}
@keyframes graph_35b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 25%;
  }
}
@keyframes graph_35c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 48%;
  }
}
/*******************/
.swiper-slide-active .income.legend45 {
  top: 28%;
}

.swiper-slide-active .graph_45 {
  position: absolute;
  top: 28%;
  height: 6%;
  left: 0%;
  width: 30%;
  animation: graph_45 30s 1;
}
.swiper-slide-active .graph_45a {
  background: #fda478;
  width: 26%;
}
.swiper-slide-active .graph_45b {
  background: #f67d68;
  width: 24%;
  animation: graph_45b 15s 1;
}
.swiper-slide-active .graph_45c {
  background: #e5595c;
  width: 50%;
  animation: graph_45c 15s 1;
}

@keyframes graph_45 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 30%;
  }
}
@keyframes graph_45b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 24%;
  }
}
@keyframes graph_45c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 50%;
  }
}
/*******************/
.swiper-slide-active .income.legend55 {
  top: 35%;
}

.swiper-slide-active .graph_55 {
  position: absolute;
  top: 35%;
  height: 6%;
  left: 0%;
  width: 33%;
  animation: graph_55 30s 1;
}
.swiper-slide-active .graph_55a {
  background: #fda478;
  width: 27%;
}
.swiper-slide-active .graph_55b {
  background: #f67d68;
  width: 24%;
  animation: graph_55b 15s 1;
}
.swiper-slide-active .graph_55c {
  background: #e5595c;
  width: 49%;
  animation: graph_55c 15s 1;
}

@keyframes graph_55 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 33%;
  }
}
@keyframes graph_55b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 24%;
  }
}
@keyframes graph_55c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 49%;
  }
}
/*******************/
.swiper-slide-active .income.legend65 {
  top: 42%;
}

.swiper-slide-active .graph_65 {
  position: absolute;
  top: 42%;
  height: 6%;
  left: 0%;
  width: 40%;
  animation: graph_65 30s 1;
}
.swiper-slide-active .graph_65a {
  background: #fda478;
  width: 27%;
}
.swiper-slide-active .graph_65b {
  background: #f67d68;
  width: 23%;
  animation: graph_65b 15s 1;
}
.swiper-slide-active .graph_65c {
  background: #e5595c;
  width: 50%;
  animation: graph_65c 15s 1;
}

@keyframes graph_65 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 40%;
  }
}
@keyframes graph_65b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 23%;
  }
}
@keyframes graph_65c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 50%;
  }
}
/*******************/
.swiper-slide-active .income.legend80 {
  top: 49%;
}

.swiper-slide-active .graph_80 {
  position: absolute;
  top: 49%;
  height: 6%;
  left: 0%;
  width: 44%;
  animation: graph_80 30s 1;
}
.swiper-slide-active .graph_80a {
  background: #fda478;
  width: 23%;
}
.swiper-slide-active .graph_80b {
  background: #f67d68;
  width: 27%;
  animation: graph_80b 15s 1;
}
.swiper-slide-active .graph_80c {
  background: #e5595c;
  width: 50%;
  animation: graph_80c 15s 1;
}

@keyframes graph_80 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 44%;
  }
}
@keyframes graph_80b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 27%;
  }
}
@keyframes graph_80c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 50%;
  }
}
/*******************/
.income.legend100 {
  top: 56%;
}

.swiper-slide-active .graph_100 {
  position: absolute;
  top: 56%;
  height: 6%;
  left: 0%;
  width: 51%;
  animation: graph_100 30s 1;
}
.swiper-slide-active .graph_100a {
  background: #fda478;
  width: 27%;
}
.swiper-slide-active .graph_100b {
  background: #f67d68;
  width: 24%;
  animation: graph_100b 15s 1;
}
.swiper-slide-active .graph_100c {
  background: #e5595c;
  width: 49%;
  animation: graph_100c 15s 1;
}

@keyframes graph_100 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 51%;
  }
}
@keyframes graph_100b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 24%;
  }
}
@keyframes graph_100c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 49%;
  }
}
/*******************/
.income.legend120 {
  top: 63%;
}

.swiper-slide-active .graph_120 {
  position: absolute;
  top: 63%;
  height: 6%;
  left: 0%;
  width: 59%;
  animation: graph_120 30s 1;
}
.swiper-slide-active .graph_120a {
  background: #fda478;
  width: 26%;
}
.swiper-slide-active .graph_120b {
  background: #f67d68;
  width: 24%;
  animation: graph_120b 15s 1;
}
.swiper-slide-active .graph_120c {
  background: #e5595c;
  width: 50%;
  animation: graph_120c 15s 1;
}

@keyframes graph_120 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 59%;
  }
}
@keyframes graph_120b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 24%;
  }
}
@keyframes graph_120c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 50%;
  }
}
/*******************/
.income.legend160 {
  top: 70%;
}

.swiper-slide-active .graph_160 {
  position: absolute;
  top: 70%;
  height: 6%;
  left: 0%;
  width: 90%;
  animation: graph_160 30s 1;
}
.swiper-slide-active .graph_160a {
  background: #fda478;
  width: 26%;
}
.swiper-slide-active .graph_160b {
  background: #f67d68;
  width: 23%;
  animation: graph_160b 15s 1;
}
.swiper-slide-active .graph_160c {
  background: #e5595c;
  width: 51%;
  animation: graph_160c 15s 1;
}

@keyframes graph_160 {
  0% {
    width: 0%;
  }
  5%,10%,100% {
    width: 90%;
  }
}
@keyframes graph_160b {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  40%,100% {
    width: 23%;
  }
}
@keyframes graph_160c {
  0% {
    width: 0%;
  }
  60% {
    width: 0%;
  }
  70%,100% {
    width: 51%;
  }
}
.swiper-slide-active .average_bar {
  position: absolute;
  top: -50%;
  height: 200%;
  left: 45%;
  width: 0.2%;
  animation: average_bar_animation 15s 1;
  background: #e5595c91;;
}

@keyframes average_bar_animation {
  0% {
    left: 0%;
  }
  5%,32% {
    left: 10%;
  }
  36%,60% {
    left: 21%;
  }
  65%,100% {
    left: 45%;
  }
}
.swiper-slide-active .average_value {
  position: absolute;
  top: 0%;
  left: 45%;
  width: 300px;
  height: 100px;
  animation: average_bar_animation 15s 1;
  margin-left: 10px;
  text-align: left;
}
.average_value span#average {
  font-size: 2rem;
  font-weight: 700;
  color: #e5595c;
}
.average_value span.dollar {
  font-size: 1.5rem;
  color: #e5595c;
}

.legend_color {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 300px;
  height: 100px;
}
.legend_color .swatch {
  height: 1.5em;
  width: 30px;
  display: inline-block;
}
.legend_color span {
  display: inline-block;
  height: 1.5em;
  float: left;
}
.legend_color .description {
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 0.85em;
}
.legend_color #color_1 {
  background: #fda478;
}
.legend_color #color_2 {
  background: #f67d68;
}
.legend_color #color_3 {
  background: #e5595c;
}

.legend_household {
  position: absolute;
  top: 20%;
  left: -25%;
  width: 200px;
  height: 100px;
  font-weight: 700;
  color: #f67d68;
  text-align: left;
  font-size: 1.1em;
}

.graph_title {
  position: absolute;
  bottom: -2%;
  right: 0%;left:0;
  height: 100px;
  font-size:2em;
  font-weight:700;
}
